.cst-button {
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--text-color);
    padding: 14px 0;
    border-radius: var(--btn-radius);
    outline: none;
    width: 300px;
    // &.capsules {

    &.cst-btn-ghost {
        background: none;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        border-color: var(--primary-color);
    }
}

a.cst-button {
    &:link, &:visited {
        color: var(--text-color);
    }

    &:hover {
        cursor: pointer;
        color: var(--text-color);
        background-color: var(--primary-hover-color);
    }
}
