.cst-button {
    align-items: center;
    background: var(--primary-color);
    border-radius: var(--btn-radius);
    color: var(--text-color);
    display: flex;
    font-size: 18px;
    font-family: Montserrat Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    outline: none;
    padding: 14px 0;
    width: 300px;
    // &.capsules {

    &.cst-btn-ghost {
        background: none;
        border: 1px solid var(--primary-color);
        color: var(--text-color);
        border-color: var(--primary-color);
    }
}

a.cst-button {
    &:link, &:visited {
        color: var(--text-color);
    }

    &:hover {
        cursor: pointer;
        color: var(--text-color);
        background-color: var(--primary-hover-color);
    }
}

// mobile components
.csm-btn {
    align-items: center;
    background: var(--primary-color);
    border-radius: var(--btn-radius);
    color: var(--text-color);
    display: flex;
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    outline: none;
    padding: 14px 0;
}

.cst-btn-ghost {
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--text-color);
    border-color: var(--primary-color);
}
