:root {
    --main-width: 1200px;
    --bg-color: #000;
    --bg-color1: #111;
    --text-color: #fff;
    --text-color1: #BDBDBD;
    --primary-color: #8A38F5;
    --primary-hover-color: #7729df;

    --btn-radius: 7px;
}
